header
    {
    background: white;
    height: 70px; 
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 20px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    }   
.logo
    {
    margin-right: auto;
    background-size: cover;
    background-position: center;
    }